<!DOCTYPE html>
<html>
<head>
    <title>System Monitor</title>
</head>
<body>
    <h1>System Characteristics for {{ ansible_hostname }}</h1>
    <ul>
        <li><strong>IP Address:</strong> {{ ansible_default_ipv4.address }}</li>

        <li><strong>CPU Model:</strong>
        {% if ansible_processor|length > 1 %}
             {{ ansible_processor[1] }}
        {% else %}
             {{ ansible_processor[0] | defalut('Generi CPU') }}
        {% endif %}
        ({{ ansible_processor_vcpus }} | vCPUs)</li>

        <li><strong>Total RAM:</strong> {{ ansible_memtotal_mb }} MB</li>

        <li><strong>First HDD size:</strong>
        {% if ansible_devices.sda is defined %}
            {{ ansible_devices.sda.size }}
        {% elif ansible_devices.vda is defined %}
            {{ ansible_devices.vda.size }}
        {% else %}
            Unknown size
        {% endif %}
        </li>
    </ul>
</body>
</html>
